.App {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  // -webkit-box-pack: center;
  //     -ms-flex-pack: center;
  //     justify-content: center;
  // -webkit-box-align: center;
  //     -ms-flex-align: center;
  //         align-items: center;

  height:100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.project-info {
  padding: 20px;
  font-size: 10px;
  color: #fff;
  letter-spacing: .05em;
  line-height: 1.5em;
}

.project-info a {
  color: #BECAD6;
  text-decoration: none;
  border-width: 0px 0px 2px;
  border-style: solid;
  border-color: #6196C5;
}

.project-info a:hover {
  color: #D6D7D8;
  border-color: #75A9D6;
  border-style: solid;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
  margin-top: 40px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.authentication {
  background: #F6F6F6;
  color: #2E3545;
  border-radius: 0px 0px 3px 3px;
  width: 430px;
  min-width:430px;
  margin: 20px auto 40px;
  text-align: left;
  box-shadow: 0px 20px 50px rgba(0,0,0,0.1);
}

.authentication-content {
  padding: 15px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

@media only screen and (max-width : 480px) {
  .authentication {
    width: 320px;
    min-width:320px;
    margin: 10px;
    text-align: center;
  }
  .authentication-content {
    height: 350px;
  }
  .authentication
  .test-media {
    font-size: 10px;
  }
}