@import 'Colors';

.buttonSection {
  align-self: flex-end;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-transition: all 1s ease-out;
  transition: all .1s ease-out;
}

.button {
  padding: 10px 15px 10px;
  color: #fff;
  border-radius: 3px;
  width: calc(50% - 5px);
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  outline: none;
  font-size: 16px;  
  /* flex-grow: 1; */
  text-align: center;
  box-shadow: 0px 2px 3px rgba(0,0,0,.2);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: rgba(0,0,0,0.1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.button:nth-child(-n+2) {
  margin-top:0px;
}
.button:nth-child(odd) {
  margin-left: 0px;
}
.button:active {
  padding: 11px 15px 11px;
  border-width: 0px 0px 0px 0px;
  box-shadow: inset 0px 2px 3px rgba(0,0,0,.2);
}

.buttonA {
  composes: button;
  background-color: $blue;
}

.buttonB {
  composes: button;
  background-color: $orange-red;
}

@media only screen and (max-width : 480px) { 
  .button {
    width: 100%;
    margin-left: 0px;
  }
  .button:nth-child(-n+2) {
    margin-top:10px;
  }
  .button:nth-child(-n+1) {
    margin-top:0px;
  }
}