@import './Colors';

.label {
  color: $teal;
  position: absolute;
  font-size: 12px;
  margin-top: -20px;
  transition: all .2s ease-out;
}

.details {
  font-size: 12px;
  line-height: 1em;
  color: #777;
  text-align: left;
}

.input-wrapper {
  margin: 20px 0px;
}

.input {
  font-family: proxima-nova,Helvetica,Arial,sans-serif;
  padding: 10px 10px 10px 14px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #B6BABF;
  outline: none;
  font-size: 16px;
  -webkit-transition: all 1s ease-out;
  transition: all .1s ease-out;-webkit-appearance: none;
}

.input:focus {
  padding: 10px;
  border-width: 1px 1px 1px 5px;
  border-color:  $teal;
}

$placeholder-color: #ccc;
.input::placeholder {
  color: $placeholder-color;
}

.input::-webkit-input-placeholder {
  color: $placeholder-color;
}

.input::-moz-placeholder {
  color: $placeholder-color;
}

.input:-ms-input-placeholder {
  color: $placeholder-color;
}

.input:-moz-placeholder {
  color: $placeholder-color;
}