.title-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  // margin-top: 10px;
  margin-bottom: 10px;
}

.subtitle {
  display: block;
  font-size:16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width :  480px) {
  .title-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}