@import './styles/Colors';

body {
  margin: 0;
  padding: 0;
  // font-family: sans-serif;
  background-color: $blue;
  line-height: 1.5em;
  font-family: proxima-nova,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

* {
  box-sizing: border-box;
}